# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
* To list popular Languages used by Data Scientists
* To list popular Libraries used in Data Science
* To list well known Data Science Tools
* To Comment on cells

Some of the popular languages that Data Scientists use are:

1) Python
2) R
3) Java
4) C++

Some of the commonly used libraries used by Data Scientists include:
1) Numpy
2) Matplotlib
3) Pandas

|Data Science Tools|
|---|
|TensorFlow|
|Apache Hadoop|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python:

In [6]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author

Joel Joseph Jaison